@charset "UTF-8";

   .detailContainer {
    max-width: 1200px;
    margin: 100px auto; /* Center the container horizontally */
    padding: 0 20px; /* Add padding to the sides for space */
}

.product-details {
    display: flex;
    justify-content: space-between;
    margin-top: 20px; /* Add some space between the container and the details */
    align-items: center;
}

.product-image {
    flex: 1; /* 이미지 영역이 텍스트 영역과 같은 비중을 가지도록 설정 */
    margin-right: 20px; /* 이미지와 텍스트 간의 간격을 설정 */
}

.product-image img {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
}

.product-info {
    flex: 2; /* 텍스트 영역이 이미지 영역보다 두 배로 넓도록 설정 */
    margin-top: 50px; 
    font-size: 18px; 
    color: #333; 
}

.product-info input[type="submit"] {
	margin-top: 20px; /* 버튼과 텍스트 사이에 추가 간격 설정 */   
    font-size: 18px; 
    font-weight: bold; 
    color: white; 
    background-color: #007bff; 
    border: none; 
    padding: 10px 20px; 
    cursor: pointer; 
}
.product-info input[type="submit"]:hover {
    background-color: #0056b3; /* Change background color on hover */
}	
	  