@charset "UTF-8";

/*-------------SEARCH BAR/SELECT LIST CSS---------------*/

.searchContainer {
    text-align: center; 
    margin-top: 150px; 
}

#searchContent {
    padding: 5px;
    width: 500px;
    display: inline-block;
}

#searchButton,
#classifyOption,
#itemsPerPageSelect {
    padding: 5px;
    display: inline-block;
    vertical-align: top;
}
#searchButton:hover {
    background-color: #0056b3;
}

#searchButton {
    padding: 8px 16px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 5px;
}

#searchContent {
    padding: 5px;
    width: 500px;
    display: inline-block;
}

#searchButton,
#classifyOption,
#itemsPerPageSelect {
    padding: 5px;
    display: inline-block;
    vertical-align: top;
}
#productRank, #highPrice, #lowPrice, #sold_qty, #product_reg_date {
    margin: 0 10px;
    color: #007bff;
    text-decoration: none;
}
#itemsPerPageSelect {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/*-------------PRODUCT LIST CARD CSS---------------*/


.card {
    width: 300px;
    height: 320px;
    border: 2px solid #ddd;
    border-radius: 5px;
    margin: 60px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    
}

.card:hover {
    transform: scale(1.05);
}
.card img {
   	width: 180px; /* 원하는 너비 값으로 설정 */
    height: auto; /* 높이를 자동으로 조절하여 비율 유지 */
    object-fit: cover;
    border-bottom: 1px solid #ddd;
        display: block; /* 이미지를 블록 요소로 만듭니다. */
    
    margin: 0 auto; /* 좌우 마진을 auto로 설정하여 가운데 정렬합니다. */
    
}

.card-body {
    padding: 5px;
    margin-top: 10px; /* Reduce spacing between card body and container */
}

.card-title a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
}

.red-price {
    color: red;
    font-weight: bold;
}

.blue-price {
    color: blue; 
}

.card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.product-name {
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 100%;
}

/*-------------PAGE CONTROL CSS---------------*/


#page_control {
    margin-top: 40px;
    text-align: center;
}

#page_control a {
    padding: 5px 10px;
    margin-right: 5px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}
