@charset "UTF-8";
body {
            text-align: center;
            background-color: rgb(255, 255, 255);
            padding: 20px;
        }

        .container {
            max-width: 1200px;
        }

        .product-details {
            display: flex;
            justify-content: space-between;
        }

        .product-image {
            flex: 1;
            margin-right: 20px;
        }

        .product-image img {
            width: 100%;
            height: auto;
        }

        .product-info {
            flex: 2;
            text-align: left;
        }
        